body {
    background-color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
}

.carrusel {
    position: relative;
    width: 300px; /* Ancho del carrusel */
    overflow: hidden; /* Ocultar imágenes que se desbordan */
    margin: 20px auto; /* Centramos el carrusel */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.imagenes {
    display: flex;
    transition: transform 0.5s ease;
}

.imagenes img {
    width: 300px; /* Ancho de cada imagen */
    height: auto; /* Mantener proporciones */
}

.boton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.boton-izquierda {
    left: 10px;
}

.boton-derecha {
    right: 10px;
}

/* Estilos existentes para los demás elementos */
#DjangoDef {
    text-align: justify;
    margin: 2%;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: center;
}

#Titulo1 {
    margin-bottom: 2%;
    background-color: black;
    color: white;
}

#Titulo2 {
    text-align: center;
}

#Paso1 {
    text-align: justify;
    margin: 2%;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: center;
    font-family: consolas;
    background-color: white;
}

#link1 {
    margin: 2%;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: center;
    font-family: consolas;
    background-color: white;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
}

#image1 {
    border: 5px solid black;
   
}
