/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo de la barra de navegación */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    font-family: arial black;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    font-family:Barlock ;
     text-align: justify;
     box-shadow: 2px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f39c12;
}