
body{
    background-color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
}

 #DjangoDef{
    
    text-align: justify;
    margin:2%;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: center;
   
 }  


 #Titulo1{
    margin-bottom: 2%;
    background-color: black;
  color: white;
  
 }


 #Titulo2{
    text-align: center;
    
 }

 #Paso1{
   text-align: justify;
   margin:2%;
   margin-left: 30%;
   margin-right: 30%;
   justify-content: center;
  font-family: consolas;
  background-color: white;
 }

 #link1{
   
   margin:2%;
   margin-left: 30%;
   margin-right: 30%;
   justify-content: center;
  font-family: consolas;
  background-color:  white;
  
  text-align: center;

  

  border: 5px solid black; /* Borde de 5 píxeles y color negro */
    border-radius: 10px; /* Bordes redondeados opcional */
    padding: 10px; /* Espacio interno entre la imagen y el borde */
  
 }

 #image1{
 
   border: 5px solid black; /* Borde de 5 píxeles y color negro */
    border-radius: 10px; /* Bordes redondeados opcional */
    padding: 10px; /* Espacio interno entre la imagen y el borde */
 }

 #Yomero{
   
   margin:2%;
   margin-left: 30%;
   margin-right: 30%;
   justify-content: center;
  font-family: consolas;
  background-color:  white;
  
  text-align: center;

  text-align: justify;

  border: 5px solid black; /* Borde de 5 píxeles y color negro */
    border-radius: 10px; /* Bordes redondeados opcional */
    padding: 10px; /* Espacio interno entre la imagen y el borde */
  
 }


 #Res{
   margin:2%;
   margin-left: 30%;
   margin-right: 30%;
   justify-content: center;
  font-family: consolas;

  
  text-align: center;

  text-align: justify;

 
    border-radius: 10px; /* Bordes redondeados opcional */
    padding: 10px; /* Espacio interno entre la imagen y el borde */
 }